/**
Title: css file to tie the Clean Technologies CSS and WSU Spine themes together; specifically targeting the WNPA theme
**/
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity:.9999;
}
.redTrim {
	background-color:#981e32;
	height:5px;
	width:100%;
}
.spine-cleantech-home .wide {
	width:100%;
}
.spine-cleantech-home .halves .gain {
	margin:0;
	padding:0;
	width:600px;
}
.spine-cleantech-home .halves .lose {
	width:390px;
}
.main-header {
	display:none;
}
/** Video **/
.videoWrapper iframe, .videoWrapper embed {
	max-width:100%;
	height:auto;
}
.vd-xlg iframe, .vd-xlg  embed {
	width:1080px;
	min-height:608px !important;
}
.vd-lg iframe, .vd-lg embed {
	width:720px;
	min-height:405px !important;
}
.vd-md-lg-spine iframe, .vd-md-lg-spine  embed {
	width:528px;
	min-height:297px !important;
}
.vd-md iframe, .vd-md  embed {
	width:480px;
	min-height:270px !important;
}
.vd-md-sm iframe, .vd-md-sm embed {
	width:360px;
	min-height:203px !important;
}
.vd-sm iframe, .vd-sm embed {
	width:240px;
	min-height:135px !important;
}
.vd-xsm iframe, .vd-xsm embed {
	width:144px;
	min-height:81px !important;
}
.vd-respond iframe, .vd-respond embed {
	width:100%;
	height:auto;
}
.article-title {
	color: black;
	font-weight: 400;
	font-size: 3.5em;
	margin-bottom:10px;
	letter-spacing: 0;
	text-transform: uppercase;
}
main {
	color:#464e54;
}
main > h1, h2, h3, h4, .article-title {
	font-family: 'OpenSans-Condensed';
}
main article > h2 {
	font-size:2.2em;
	color:black;
	font-weight: 200;
	margin-bottom:20px;
}
main article > h3 {
	font-size: 1.8em;
	text-transform: none;
	font-weight: 300;
	padding-top:15px;
	padding-bottom:8px;
}
main article > h3 a {
	font-weight: 300;
}
article > p {
	line-height: 1.65em;
	font-size: 100%;
	vertical-align: baseline;
	margin-bottom:1.5em;
}
main .two > aside {
	padding:0;
	margin-top:140px;
	width:100%;
}
main .two > aside img {
	margin-bottom:20px;
}
main .two > aside h2, h3, h4 {
	color:black;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1.3em;
	font-size: 150%;
}
main .two > aside ul li ul {
	padding-top:2px;
	padding-left:1.4em;
}
main .two > ul li ul li {
	border-top: none;
	font-size: 85%;
	padding-bottom:5px;
	border-bottom: solid 1px #d8d8d8;
}
main .two > section aside ul li ul li:last-child {
	border-bottom:none;
}
.spine-blank-template .article-title {
	margin-top:30px;
	margin-left:30px;
}
/* Moved over from clean.css */
/* Target homepage nav */
.tile {
	width: 50%;
	height: 300px;
	display: block;
	float: left;
	/*margin-bottom: 2px;*/
	border-bottom: 2px solid #fff;
	position: relative;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.tile a {
	display: block;
	height: 300px;
	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
	-ms-transition:background-color 0.3s;
	transition:background-color 0.3s;
}
.tile a:hover {
	
}
.tile:nth-of-type(1) a:hover {
	background-color: #000000 ;
	background-color: rgba(0,0,0,0.7);
}
.tile:nth-of-type(2) a:hover {
	background-color: #e9b429;
	background-color: rgba(233, 180, 41, 0.7);
}
.tile:nth-of-type(3) a:hover {
	background-color: #6f361b;
	background-color: rgba(112,54,26,0.7);
}
.tile:nth-of-type(4) a:hover {
	background-color: #375b00;
	background-color: rgba(56,93,0,0.7);
}
.tile:nth-of-type(5) a:hover {
	background-color: #0060cd;
	background-color: rgba(0,96,204,0.7);
}
.tile:nth-of-type(6) a:hover {
	background-color: #996c27;
	background-color: rgba(153,107,38,0.7);
}
.tile:nth-of-type(7) a:hover {
	background-color: #62a4a9;
	background-color: rgba(0,126,148,0.7);
	
}
.tile a header {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
	margin: 150px 20px 0px 20px;
	position: absolute;
	bottom: 0px;
}
.tile a:hover header {
	
}
.tile a h3 {
	font-size: 1.5em;
}
.tile a h4 {
	font-size: 1.2em;
	height: 0px;
	line-height: 1.25em;
	overflow: hidden;
	padding-bottom: 2px;
	-webkit-transition:height 0.3s;
	-moz-transition:height 0.3s;
	-o-transition:height 0.3s;
	-ms-transition:height 0.3s;
	transition:height 0.3s;
}
.tile a h3, .tile a h4 {
	color:white;
	text-transform: uppercase;
	font-weight:600;
}
.tile a:hover h4 {
	height: 110px;
	padding: 10px 0;
	border-top: 1px solid #fff;
}

.tile:nth-of-type(odd) {
	/*margin-right: 2px;*/
	border-right:2px solid #fff;
}

/* Respond queries */
@media (max-width: 1188px) and (min-width: 990px){
	.spine-cleantech-home .halves .gain {
		max-width:50%;
	}
	.spine-cleantech-home .halves .lose {
		min-width:30%;
	}
}
@media (max-width: 989px), only screen and (max-device-width: 1024px) and (orientation: portrait) {
	#binder, .spine-cleantech-home {
		width:100%;
		margin:0;
	}
	#binder .spine-cleantech-home .halves .gain {
		width:100%;
	}
	#binder .spine-cleantech-home .halves .lose {
		width:100%;
	}
	#binder, .spine-cleantech-home .tile {
		border:none;
	}
	#binder .spine-cleantech-home .tile a h3 {
		padding-bottom:10px;
		border-bottom: 1px solid #fff;
		font-size: 2em;
	}
	#binder .spine-cleantech-home .tile a h4 {
		height:120px;
		font-size:1.4em;
	}
	.videoWrapper iframe, .videoWrapper embed {
		max-width:720px;
		min-height:405px !important;
	}
}
@media (max-width: 720px) and (min-width: 480px){
	/** Video **/
	.videoWrapper iframe, .videoWrapper embed {
		max-width:720px;
		min-height:405px !important;
	}
}
@media (max-width: 480px) and (min-width:360px) {
	.videoWrapper iframe, .videoWrapper embed {
		max-width:480px ;
		min-height:270px !important;
	}
}
@media (max-width: 360px) and (min-width:240px) {
	.videoWrapper > iframe, embed {
		max-width:360px ;
		min-height:203px;
	}
}
@media (max-width: 240px) and (min-width:144px) {
	.videoWrapper iframe, .videoWrapper embed {
		max-width:240px ;
		min-height:135px;
	}
}
@media (max-width: 144px) {
	.videoWrapper iframe, .videoWrapper embed {
		max-width:144px ;
		min-height:81px;
	}
}
@media (max-width: 791px) {
	.tile {
		width: 100%;
		height: 250px;
		display: block;
		float: left;
		/*margin-bottom: 2px;*/
		border-bottom: 2px solid #fff;
		position: relative;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		overflow: hidden;
	}
	main .two > aside figure img {
		width:100% !important;
		height:auto;
	}
}
/**/